<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>期末</title>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
	<link rel="stylesheet" href="css/text.css" />

</head>
<body>

  <div class="wrap">
   <div class="header">
     <ul>
     <li><a href="">聯絡我們&nbsp;&nbsp;</a></li>
     <li><a href="">首頁&nbsp;&nbsp;</a></li>
     <li><a href="http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=2&FileType=1&Lang=C&FolderType=" target=_blank>網站資料來源&nbsp;&nbsp;</a></li>
     <input type="text" class="try" placeholder="&nbsp;&nbsp;搜尋">
     </ul>   
   </div>  
   <div class="product">
   <div id="nurserysList">
     <h2 class="one">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;歡迎參觀高雄美食</h2>
         <select v-model="currentArea">
                    <option>請選擇地區</option>
                    <option v-for="area in areas">
                        {{area}}
                    </option>
                </select>
             <ul  class="clearfix">
                    <template v-for="item in items">
                        <template v-if="currentArea=='請選擇地區'">
                            <li class="two">
                            <h1>{{item.Name}}</h1>
                            <img src="{{item.Picture1}}" height="250px" width="250px">
                            </li>
                        </template>
                        <template v-if="item.area==currentArea">
                        <li class="three">　
                        <h2>{{item.Name}}</h2>
                        <img src="{{item.Picture1}}" height="250px" width="250px"> 
                        <a href="https://www.google.com.tw/maps/place/{{item.Add}}" target=_blank><img src="images/map.jpg" height="50px" width="50px"></a>         
                          <p>{{item.Description}}</p>
                          <p class="opentime">{{item.Opentime}}</p>&nbsp;&nbsp;<br/>
                        </li>
                        </template>
                    </template>
                </ul>
                <script>
                alert('hello world')
                var apiURL = 'http://data.kaohsiung.gov.tw/Opendata/DownLoad.aspx?Type=2&CaseNo1=AV&CaseNo2=2&FileType=1&Lang=C&FolderType=';               
                var nurserysList = new Vue({
                    el: '#nurserysList'
                    , data: {
                        currentArea: '請選擇地區'
                        , items: []
                        , areas: []

                    }
                    , created: function () {
                        this.fetchData();
                    }
                    , methods: {
                        fetchData: function () {
                            var self = this;
                            $.ajax({
                                type: 'GET'
                                , url: apiURL
                                , async: false
                                , success: function (data) {
                                    var thisData = JSON.parse(data);
                                    for (var i in thisData) {
                                        self.items.push(thisData[i]);
                                    }
                                }
                            });
                           
                            var areaGroup = {};
                            for (var i in self.items) {
                                self.items[i].area = self.items[i].Add.substr(3, 3);
                                var key = self.items[i].area;
                                areaGroup[key] = areaGroup[key] || (areaGroup[key] = []);
                                areaGroup[key].push(self.items[i].Name);
                                
                            }
                            self.areas = Object.keys(areaGroup);
                            console.log(JSON.stringify(areaGroup));

                        }
                    }
                });

            </script> 
   </div>
 </div> 
   
           
      
    <div class="back"><a href="#"><img src="images/back.jpg" width="70px" height="50px"></a></div>
     <div class="footer"><br>
      <p>
            &copy; 2016 Graduation<br>
      <em>Website Template</em> by ***
      </p>
      </div>
  </div> 
   
 
</body>
</html>
